<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home</h1>
    <form action="" method="post">
        {% csrf_token %}
        <select name="teacher" >
            {% for teacher in teachers %}
            <option value={{teacher.id}}>{{teacher.first_name}}</option>
            {% endfor %}
        </select>

        <select name="subject" >
            {% for subject in Subjects %}
            <option value={{subject.id}}>{{subject.name}}</option>
            {% endfor %}
        </select>

        <select name="class" >
            {% for class in Class %}
            <option value={{class.id}}>{{class.name }} {{class.section}}</option>
            {% endfor %}
        </select>

        <button type="submit">Submit</button>

    </form>
</body>
</html>